@foreach ($list as $item)
<% list.forEach(function (value, key) { %>
<li class="<%= value['layer']['group'] %>">
    <input type="checkbox" name="<%= value['layer']['name'] %>" value="<%= value['value'] %>" id="<%= `${value['layer']['name']}-${value['value']}` %>" class="<%= value['layer']['trigger'] %>">
    <label for="<%= `${value['layer']['name']}-${value['value']}` %>"><%= value['value'] %></label>
</li>
<% }); %>