<% list.forEach(function (value, key) { %>
<li class="<%= value['layer']['group'] %>">
    <div class="list__line">
        <p class="list__clickable">
            <input type="checkbox" name="<%= value['layer']['name'] %>" value="<%= value['value'] %>" id="<%= `${value['layer']['name']}-${value['value']}` %>" class="form__checkbox <%= value['layer']['trigger'] %>">
            <label for="<%= `${value['layer']['name']}-${value['value']}` %>" class="form__label"><%= value['value'] %></label>
        </p>
    </div>
    <% if (value['children'].length > 0) { %>
    <ul class="list__nested">
        <%- include('list', { list: value['children'] }); %>
    </ul>
    <% } %>
</li>
<% }); %>